body{
background:#111;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:#222;
padding:30px;
border-radius:10px;
text-align:center;
}

input{
margin:10px;
padding:8px;
border-radius:5px;
border:none;
}

button{
padding:8px 15px;
background:#00ff88;
border:none;
border-radius:5px;
}